@font-face {
    font-family: "OpenSans";
    src:  url(../fonts/OpenSans-Regular.woff) format("woff"),
          url(../fonts/OpenSans-Regular.ttf) format("ttf"),
          url(../fonts/OpenSans-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: "OpenSans";
  src:  url(../fonts/OpenSans-Bold.woff) format("woff"),
        url(../fonts/OpenSans-Bold.ttf) format("ttf"),
        url(../fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
  
body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* min-width: 1200px; */
  font-family: OpenSans, sans-serif;
  font-weight: normal;
}
  
.welcome {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
      
  position: relative;
  z-index: 0;
  color: white;
  display: flex;
  min-height: 423px;
  padding-top: 27px;
}
  
.welcome:after {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}
  
.header_container {
  display: block;
  width: 1170px;
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
}
   
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.header-logo {
  display: flex;
  width: 180px;
}

.header-logo_mobile {
  display: none;
}
    
.menu {
  display: flex;
  height: 40px;
      
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  float: left;
  /* flex-direction: row-reverse;
  align-items: center; */
}

.menu-button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu-button:before, .menu-button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu-button:before {
  top: 0;
}

.menu-button:after {
  bottom: 0;
}

.menu-button-lable {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

.menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  justify-content: space-between;
}
  
.menu-link {
  text-decoration: none;
  color: #ffffff;
}
    
.menu-item {
  margin-right: 35px;
}
  
.menu-item:last-child {
  margin-right: 0;
}
    
.menu-item:hover {
  text-decoration: underline;
}
  
.welcome-title {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 45px;
      
  display: flex;
  position: relative;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 104px;
  margin-bottom: 0;
  line-height: 75px; 
  text-align: center;
  padding: 0;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
  
.trends_section {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}

.title_trends {
  margin: 58px auto 28px auto;
  /* vertical-align: middle; */
}

.title_trends::after, .title_products::after, .popup_title::after {
  content: '';
  display: block;
  background-color: #b59f5b;
  width: 66px;
  height: 3px;
  margin: 10px auto 0 auto;
}

.trends_container {
  /* min-width: 1200px; */
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.trends_post_container {
  display: flex;
  align-items: flex-end;
  color: white;
  flex: 1 1 25%;
  min-height: 288px;
  padding: 16px 23px;
  position: relative;
  z-index: 1;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #606260;
  margin-right: 4px;
}

.trends_post_container:after {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.trends_post_container:last-child {
  margin-right: 0;
}

.trend_windowsill-garden {
  background-image: url(../images/trend1.jpg);
}
  
.trend_cheeses {
  background-image: url(../images/trend2.jpg);
}

.trend_hiking {
  background-image: url(../images/trend3.jpg);
}

.trend_lemons {
  background-image: url(../images/trend4.jpg);
}

.trends_content {
  border: 3px solid rgb(181, 159, 91, .6);
  padding: 1.6rem 1.65rem 1.6rem 1.65rem;
}

.trends_header {
  margin: 10px 0 0 0;
}

.trends_header:hover {
  color: #b59f5b;
  cursor: pointer;
}

.main_center, .products_section {
  margin: 64px auto 64px auto;
  display: flex;
  flex-wrap: nowrap;
  max-width: 1170px;
  width: 100%;

  padding: 0 15px 0 15px;
  justify-content: space-between;
}

.posts_feed {
  width: 778px;
  min-height: 1412;
  display: flex;
  flex-wrap: wrap;
}
  
.post_card {
  display: flex;
  /* min-width: 635px; */
  flex-direction: row;
  margin-bottom: 59px;
}
  
.post_card_image {
  display: flex;
  position: relative;
  min-height: 295px;
  /* width: 100%; */
}
  
.content_post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 367px;
  margin-left: 30px;
  position: relative;
}
  
.post_card_tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
  
.post_card_tag {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
  
a {
  text-decoration: none;
}

.tag_link {
  margin-right: 20px;
  color: #b59f5b;
}
  
.tag_link:hover {
  text-decoration: underline;
}

.post_card_header {
  /* font-family: OpenSans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px; 
  line-height: 24px; */
  margin-top: 7px;
  margin-bottom: 25px;
  cursor: pointer;
}
  
.post_card_header:hover {
  color: #b59f5b;
}
  
.post_card_info {
  margin-bottom: 50px;
  padding: 0;
}
  
.post_card_date {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  color: #888888;
  font-size: 12px;
}
  
.post_card_author {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 12px;
  margin-left: 15px;
}
  
.post_card_text {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 15px;
  margin-top: 0;
}
  
.post_card:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
  
.sidebar {
  width: 271px;
  display: block;
  flex-wrap: wrap;
}
  
.main_header {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
  
.main_header::after {
  content: '';
  display: block;
  background-color: #b59f5b;
  width: 66px;
  height: 3px;
  margin: 14px auto 25px auto;
}
  
.preview_container {
  display: flex;
  margin-bottom: 22px;
  cursor: pointer;
}

.image_preview {
  min-height: 70px;
}

.image_preview_2 {
  min-height: 70px;
}

.content_preview {
  margin-left: 20px;
  padding: 0;
}

.date_preview {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 12px;
  opacity: 0.54;
  vertical-align: top;
}

.header_preview {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
}

.header_preview:hover {
  color: #b59f5b;
}

.search {
  display: flex;
  width: 100%;
  height: 47px;
  margin: 60px 0 62px 0;
}

.search_container {
  display: flex;
  width: 222px;
  position: relative;
  background-color: #f4f7f6;
  border: 0;
  padding-left: 17.5px;
}

.search_button {
  width: 46px;
  height: 47px;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: bottom 15px right 14px;
  border: 0;
  cursor: pointer;
}

.search_button:hover {
  background-color: #323232;
}

.search_container {
  outline: none;
}

.search_container:focus {
  border: 1px solid #b59f5b;
}

.newsletter {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 164px;
  margin: 60px 0 62px 0;
}

.newsletter_header {
  width: inherit;
  height: 17px;
  box-sizing: border-box;
}

.subscribe {
  width: 100%;
  height: 114px;
  margin-top: 41px;
}

.email_container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: 0;
  padding-left: 17.5px;
}

.email_container {
  outline: none;
}

.email_container:focus {
  border: 1px solid #b59f5b;
}

.subscribe_button {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: 0;
  margin-top: 17px;
  padding: 0;
  cursor: pointer;
}

.subscribe_button:hover {
  background-color: #323232;
}

.subscribe_text { 
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
}

.tags {
  margin-top: 61px;
  min-height: 152px;
}

.tags_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  height: 101px;
  text-align: left;
  padding: 0;
}

.tags_item {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  
  border: #f4f3f1 3px solid;
  
  margin-right: 6px;
  padding: 3px 13px 3px 13px;
  cursor: pointer;
  line-height: 36px;
}

.tags_item:hover {
  border: #b59f5b 3px solid;
}

.topics {
  min-height: 322px;
  margin-top: 60px;
}

.topics_list {
  list-style: none;
  padding: 0;
  line-height: 47px;
}

.topic_item_container {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eeeeee;
  width: 100%;
}

.topic_item {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-decoration: none;

  padding-bottom: 13px;
}

.topic_item:hover {
  color: #b59f5b;
}

.amount_topics {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
}

.products_section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 64px;
}

.title_products {
  margin: 0 auto 28px auto;
  width: 100%;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  justify-content: space-around;
}

.product_container {
  position: relative;
  flex: 1 1 33.33%;
}

.product_container:nth-child(even) {
  margin-right: 5%;
  margin-left: 5%;
}

.product_imgbox {
  display: flex;
  position: absolute;
  /* bottom: 308px; */
  left: 8%;
  right: 8%;
}

.product_picture {
  width: 100%;
}

.product_content {
  position: relative;
  padding: 20px;
  padding-top: 50px;
  min-height: 260px;
  margin-top: 50%;
  border: 3px solid #b59f5b;
}

.product_header {
  margin-bottom: 8px;
  margin-top: 0;
}

.product_text {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

.links_products {
  color: #b59f5b;
}

.product_footer {
  margin-top: 22.7px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-end;
}

.product_price {
  display: flex;
  
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.product_price_old {
  text-decoration: line-through;
  font-size: 14px;
  line-height: 0.5;

  font-family: inherit;
  font-weight: bold;
}

.product_button {
  border: none;
  background-color: #b59f5b;
  padding: 19px 29px;

  font-family: OpenSans, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  /* width: 1170px; */
  padding: 0 15px 0 15px;
  margin: auto;
  justify-content: center;
}

.social_container {
  display: flex;
  flex-wrap: nowrap;
  width: 1170px;
  /* width: 100%; */
  min-height: 83px;
  justify-content: center;
  background-color: #f4f7f6;
}

.social_links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.social_link {
  display: inline-flex;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.image_dribbble {
  background-image: url(../svg/001-dribbble.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.image_pinterest {
  background-image: url(../svg/001-pinterest.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.image_tumblr {
  background-image: url(../svg/003-tumblr.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 31px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container_copyright {
  width: 1170px;
  display: flex;
  justify-content: center;

  margin-top: 74px;
  min-height: 53px;
}

.copyright {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #999999;

  text-decoration: none;
}

.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 236px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3;
}

.popup_container {
  box-sizing: border-box;
  width: 392px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 0 30px 53px 30px;
}

.signup {
  background-color: #ffffff;
  color: #000000;
}

.popup_title {
  padding-top: 53px;
  text-align: center;
  margin: 0;
}

.signup_question1 {
  margin-top: 25px;
}

.signup_q1_header, .signup_q2_header, .signup_q3_header {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
}

.signup_period {
  border: none;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  font-family: inherit;
  border-radius: 0;
  background-color: #f4f7f6;
  margin-top: 9px;
  cursor: pointer;
  appearance: none;

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 10px;
  color: rgba(0, 0, 0, 0.54);
  outline: none;
}

.sign-up__label {
  color: rgba(0, 0, 0, 0.54);
}

.signup_question2 {
  margin-top: 33px;
  margin-bottom: 30px;
  font-size: 13px;
}

.signup_radio_group {
  display: inline;
}

.signup_radio_group:nth-child(n+2) {
  margin-right: 15px;
}

.contactChoice_input {
  display: none;
}

.contactChoice {
  font-size: inherit;
  display: inline-block;
  cursor: pointer;
}

.contactChoice::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  vertical-align: middle;
  margin-right: 4px;
}

.contactChoice_input:checked + .contactChoice::before {
  background-image: url(../svg/form-circle.svg);
}

.signup_question3 {
  margin-bottom: 26px;
}

.signup_comment {
  display: flex;
  flex-wrap: wrap;
}

.signup_textarea {
  min-width: 330px;
  min-height: 130px;

  border: none;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  font-family: inherit;
  border-radius: 0;
  background-color: #f4f7f6;
  margin-top: 12px;
  resize: none;
  outline: none;
}

.signup_textarea:focus {
  border: 1px solid #b59f5b;
}

.signup_send {
  display: flex;
  width: 330px;
  height: 49px;
  background-color: #b59f5b;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.signup_send__text {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
}

.popup_close {
  background-image: url(../svg/form-x.svg);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 0;
  top: -30px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1199px) {
  .menu-list {
    display: none;
  }
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {

  .welcome {
    padding-top: 42px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .header_container {
    width: 100%;
    padding: 0 35px 0 35px;
  }
  .welcome-title {
    font-size: 40px;
    width: 100%;
  }
  
  .trends_container {
    flex-wrap: wrap;
  }

  .trends_post_container {
    flex: 1 1 40%;
    margin-bottom: 4px;
    margin-right: 0;
  }

  .trends_post_container:nth-child(odd) {
    margin-right: 4px;
  }

  .trends_post_container:nth-last-child(1), .trends_post_container:nth-last-child(2) {
    margin-bottom: 0;
  }

  .main_center {
    margin: 50px 35px 55px 35px;
    padding: 0;
  }
  
  .posts_feed {
    width: 56%;
  }

  .post_card {
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 100%;
    width: 100%;
    margin-bottom: 41px;

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #eeeeee;
  }

  .post_card_image {
    width: 100%;
  }

  .content_post {
    width: 100%;
    margin-left: 0;
    margin-top: 17px;
  }

  .post_card_header {
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .post_card_info {
    margin-bottom: 33px;
  }

  .sidebar {
    margin-left: 35px;
  }

  .products_section {
    padding: 0 34px;
  }

  .products {
    flex-wrap: wrap;
  }

  .product_container {
    position: relative;
    flex: 1 1 45%;
  }

  .product_container:nth-child(n+3) {
    margin-right: auto;
    top: 3%;
  }

  .product_container:nth-child(even){
    margin-right: 0;
    margin-left: 3%;
  }

  .footer_container {
    padding: 0 34px;
  }
} 

@media (max-width: 640px) {
  .welcome {
    height: 100vh;
    padding: 30px 15px 0 15px;

    background-image: url(../images/banner-mobile.jpg);
  }

  .header_container {
    width: 100%;
    padding: 0;
  }

  .header-logo_desktop {
    display: none;
  }

  .header-logo_mobile {
    display: flex;
    margin: auto;
    margin-top: calc(1/3.65*100vh);
  }

  .logo_mobile {
    margin: auto;
    width: 100%;
    height: 60px;
  }

  .menu {
    margin-left: auto;
    height: auto;
  }

  .menu-button {
    width: 0.92em;
    height: 0.8em;
  }

  .menu-button-lable, .menu-button::before, .menu-button::after {
    height: 15%;
  }

  .menu-button::after {
    bottom: 4%;
  }

  .welcome-title {
    font-size: 26px;
    line-height: 36px;
    width: 100%;
    margin-top: 42px;
  }

  .title_trends {
    margin-top: 44px;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 16px;
  }

  .trends_container {
    flex-wrap: wrap;
  }

  .trends_post_container {
    flex: 1 1 100%;
    margin-right: 0;
    margin-bottom: 3px;
    min-height: 232px;
  }

  .trends_content {
    width: 100%;
  }

  .products {
    flex-wrap: wrap;
  }

  .product_container {
   flex: 1 1 100%;
  }

  .main_center {
    flex-wrap: wrap;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 44px;
    margin-bottom: 40px;
  }

  .post_card {
    flex-wrap: wrap;
    /* flex: 1 1 100%;
    width: 100%; */
    margin-bottom: 34px;

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #eeeeee;
  }

  .post_card_image {
    width: 100%;
  }

  .content_post {
    margin-left: 0;
    width: 100%;
  }

  .post_card_tags {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .post_card_header {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .post_card_info {
    margin-bottom: 20px;
  }

  .post_card_text {
    font-size: 14px;
    line-height: 20px;
  }

  .posts_feed {
    margin-bottom: 44px;
  }

  .sidebar {
    width: 100%;
  }

  .search_container {
    width: 100%;
  }

  .search {
    margin-bottom: 44px;
  }

  .newsletter {
    margin-top: 44px;
    margin-bottom: 0;
  }

  .tags {
    margin-top: 44px;
  }

  .topics_list {
    margin-bottom: 0;
  }

  .products_section {
    margin-bottom: 43px;
  }

  .product_container {
    margin-bottom: 26.6px;
  }

  .product_container:nth-child(even) {
    margin-right: 0;
    margin-left: 0;
  }

  .container_copyright {
    margin-top: 50px;
  }

  .popup {
    padding: 56px 15px 0 15px;
  }

  .popup_container {
    width: 330px;
    padding: 0 23px 30px 23px;
  }

  .popup_title {
    padding-top: 30px;
  }

  .signup_textarea {
    min-width: 0;
  }

  .signup_send {
    width: 100%;
  }
}

/* @media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trends_post_container {
    flex: 1 1 15%;
    margin-bottom: 0;
    margin-right: 4px;
  }

  .trends_post_container:last-child {
    margin-right: 0;
  }
} */

/* @media (max-width: 640px) and (orientation: landscape) {
  .trends_post_container {
    flex: 1 1 40%;
    margin-bottom: 2px;
    margin-right: 0;
  }

  .trends_post_container:nth-child(odd) {
    margin-right: 0;
  }

  .trends_post_container:nth-last-child(1), .trends_post_container:nth-last-child(2) {
    margin-bottom: 0;
  }
} */

